.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.App-header {
  background-color: #00a69c;
  padding-left: 60px;
}

.App-link {
  color: #bb4291;
}

.App-link-container {
  background-color: white;
  bottom: 0;
  height: 30px;
  left: 0;
  padding-top: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;
}
